* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html{
    background-color: #E7ECF0;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: row;
    gap: 20px;
}

.section_add_data{
    background-color: #fff;
    width: 35%;
    height: auto;
    margin: 20px 0pc;
    border-radius: 10px;
    padding: 20px;
}

.section_note_type_class{
    background-color: #fff;
    width: 15%;
    height: auto;
    margin: 20px 0pc;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.section_calender{
    background-color: #fff;
    width: 70%;
    height: auto;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

.main_content{
    width: 100%;
    height: 100%;
}

.header{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 0;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_section{
    font-size: 20px;
    font-weight: 700;
    color: #667580;
    line-height: 18px;
    display: inline-block;
    float: left;
    padding: 10px 0;
}

.header .actions{
    /* padding: 0 0 10px 0; */
    /* width: 100%; */
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 5px;
}

.header .actions .calender{
    height: 28px;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    border: 1px solid #1da1f2;
    color: #1da1f2;
}

.header .actions .actions_right{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 5px;
}

.btn{
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #1da1f2;
    border-radius: 3px !important;
    cursor: pointer;
    border: none;
}

.btn-action{
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #1da1f2;
}

.btn-action.danger{
    background-color: red;
    border: 1px solid red;
}

.btn-action.success{
    background-color: #3aad3a;
    border: 1px solid #3aad3a;
}
.btn-action.success:hover{
    background-color: #E7ECF0;
    color: #3aad3a;
    border: 1px solid #3aad3a;
}

.btn-action:hover{
    background-color: #E7ECF0;
    color: #1da1f2;
}

.btn-action.danger:hover{
    background-color: #E7ECF0;
    color: red;
}

.section_table,
.section_form{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
.section_table{
    overflow-x: auto;
}

table{
    border: 2px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #cad6d8;
    border-collapse: collapse;
  }

thead{
    background: #f3f7f9;
    border-bottom: 2px solid #cad6d8;
    color: #1da1f2;
    white-space: nowrap;
}

th:first-child {
    width: 6%;
}

th{
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    line-height: 1.6;
}

tbody {
    background: url(../image/transparent-pattern-square-4.png);
    margin: 0;
}

table tbody tr{
    min-height: 140px;
    height: 140px;
}

table tbody tr td:first-child {
    background: #ffffce;
    vertical-align: middle;
    padding: 10px;
}

table tbody tr td {
    padding: 10px 10px 0 10px;
    line-height: 1.6;
    width: 160px;
    vertical-align: top;
}

td:first-child{
    text-align: center;
}

.box_info{
    border-radius: 10px;
    font-size: 13px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
    color: #003763;
    position: relative;
    margin-bottom: 10px;
}

.box_info.theory{
    border: 1px solid #cad6d8;
}
.box_info.online{
    border: 1px solid #1da1f2;
}
.box_info.exam{
    border: 1px solid #edaf00;
}

.box_info .name_object{
    font-weight: 600;
    color: #003763;
}

.box_info .tam_ngung {
    position: absolute;
    left: -6px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: right;
}
.tam_ngung span{
    font-size: 10px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: linear-gradient(#f14f3f 0,#cb4335 100%);
    box-shadow: 0 3px 10px -5px rgba(0,0,0,1);
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    position: absolute;
    top: 19px;
    left: -21px;
}
.tam_ngung span::after, .tam_ngung span::before {
    border-bottom: 3px solid transparent;
    border-top: 3px solid #a3362a;
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
}
.tam_ngung span::before {
    border-left: 3px solid #a3362a;
    border-right: 3px solid transparent;
    left: 0;
}
.tam_ngung span::after {
    right: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid #a3362a;
}











.section_note_type_class,
.section_note{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.section_note_type_class ul,
.section_note ul{
    list-style: none;
}

.section_note_type_class .item_note{
    margin-right: 15px;
    font-size: 14px;
    margin-bottom: 10px;
}

.section_note ul .item_note{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.section_note ul .item_note .color_note{
    width: 40px;
    height: 15px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: text-top;
}

.theory{
    background: #e7ecf0;
}
.practice{
    background: #71cb35;
}
.online{
    background: #92d6ff;
}
.exam{
    background: #fdff9a;
}
.suspension{
    background: linear-gradient(#f14f3f 0, #cb4335 100%);
}












.submit_form_data{
    width: 100%;
    height: auto;
    margin-top: 0;
}

.submit_form_data .group_input{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.submit_form_data .group_input>*{
    height: 30px;
    
}

.submit_form_data .group_input .title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #1da1f2;
    font-size: 16px;
}

.submit_form_data .group_input .title .dot_require{
    display: inline-block;
    color: red;
    font-weight: 600;
    margin-left: 10px;
}

.submit_form_data .group_input .form_control{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 65%;
    padding: 5px;
    color: #003763;
}

.submit_form_data .group_input .general_area{
    width: 65%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.group_input .general_area.right_area{
    justify-content: flex-start;
}
.group_input .general_area.left_area{
    justify-content: flex-start;
}
.submit_form_data .group_input .general_area .form_control.from_to,
.submit_form_data .group_input .general_area .form_select.from_to{
    width: 100%;
}

.submit_form_data .group_input .general_area .form_control.from_to.admin_code{
    margin-right: 5px;
}

.submit_form_data .group_input .suspension_span{
    color: #003763;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    gap: 10px;
    margin-left: 15px;
}
.submit_form_data .group_input .suspension_span > input{
    width: 10%;
}
.submit_form_data .group_input .suspension_span > span{
    width: 100%;
    font-size: 14px;
}

.submit_form_data .group_input .form_select{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100px;
    padding: 5px;
    color: #003763;
}

.submit_form_data .group_input .form_select.full_width_65{
    width: 65%;
}

.submit_form_data .group_input .form_control:focus, 
.submit_form_data .group_input .form_select:focus{
    outline: none;
}

.submit_form_data .group_input .form_control::placeholder, 
.submit_form_data .group_input .form_select::placeholder {
    color: #003763;
}

.btn_secondary{
    background-color: #E7ECF0;
    color: #1da1f2;
}

.btn_secondary:hover{
    background-color: #1da1f2;
    color: #fff;
}

.submit_form_data .error-notify-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.submit_form_data .error-notify-box .error_data{
    width: 100%;
    height: 100%;
    color: red;
    text-align: center;
}











.section-popup {
    display: none;
  }
.section-popup.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px;
    background-color: #fff;
    display: block;
    border-radius: 10px;
    box-shadow: 30px 30px 60px rgba(1, 41, 112, 0.1);
    z-index: 21;
    cursor: auto;
    animation: fadeIn 0.7s;
    width: 250px;
    min-height: 120px;
  }
  .section-popup.active .box-content {
    width: 100%;
    max-height: 487px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    border: 1px solid #1da1f2;
    border-radius: 10px;
    gap: 10px;
  }
  .section-popup.active .box-content .title_order {
    width: 100%;
    height: auto;
    float: left;
    color: #1da1f2;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
  }
  .section-popup.active .box-content .popup-title{
    padding: 5px 0 0 0px;
    font-size: 18px;
    font-weight: 500;
}

.section-popup.active .box-content .group_button_popup{
    display: flex;
    justify-content: space-between;
    width: 100%;
}













  /****************************** RESPONSIVE ********************************/
  /* 1300 */
  @media screen and (max-width: 1301px) {
    .section_calender {
        width: 80%;
    }
    .section_add_data {
        width: 40%;
    }
  }
  /* 1200 */
  @media screen and (max-width: 1200px) {
    .section_calender {
        width: 85%;
    }
    .section_add_data {
        width: 45%;
    }
  }
  /* 1024 */
  @media screen and (max-width: 1024px){
    .section_calender {
        width: 90%;
    }
    .section_add_data {
        width: 50%;
    }
    .section_note ul{
        margin-top: 10px;
    }
    .header .actions {
        width: 100%;
        justify-content: space-between;
    }
    .box_info {
        width: 150px;
    }
    .header .actions .calender {
        width: max-content;
        margin-left: auto;
    }
    .header .actions .actions_right{
        margin-left: auto;
    }
    .header .actions {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .title_section {
        line-height: 1.5rem;
        width: 50%;
    }
  }
  /* 925 */
  @media screen and (max-width: 926px){
    th, td {
        font-size: 13px;
    }
    .box_info {
        font-size: 13px;
    }
    .section_add_data {
        width: 60%;
    }
  }
  /* 768 */
  @media screen and (max-width: 768px){
    .btn {
        padding: 4px 8px;
    }
    .section_note ul .item_note .name_note {
        font-size: 13px;
    }
    .section_add_data {
        width: 66%;
    }
    .btn-action {
        font-size: .75rem;
    }
    .title_section {
        width: 40%;
    }
    .header .actions .calender {
        font-size: .9rem;
    }
    .title_section {
        font-size: 1.2rem;
    }
    th, td {
        font-size: 12px;
    }
    .submit_form_data .error-notify-box .error_data {
        font-size: .9rem;
    }
  }
  /* 740 */
  @media screen and (max-width: 741px){

  }
  /* 600 */
  @media screen and (max-width: 601px) {
    .header {
        flex-direction: column;
    }
    .header.header-edit,
    .header.header-add  {
        flex-direction: row;
    }
    .header .actions {
        padding-top: 0;
    }
    .title_section {
        width: 100%;
        text-align: center;
    }
    .header.header-edit .title_section,
    .header.header-add .title_section{
        width: 40%;
        text-align: left;
    }
    .header .actions .calender {
        margin-left: 0;
    }
    .header.header-edit .actions .calender,
    .header.header-add .actions .calender {
        margin-left: auto;
    }
    .header .actions .actions_right {
        margin-left: 0;
    }
    .header.header-edit .actions .actions_right,
    .header.header-add .actions .actions_right {
        margin-left: auto;
    }
    .section_add_data {
        width: 90%;
    }
    .title_section {
        font-size: 18px;
    }
    th, td {
        font-size: 12px;
    }
    .box_info {
        font-size: 12px;
    }
    .tam_ngung span {
        line-height: 18px;
        top: 21px;
        left: -20px;
    }
    .section_note ul .item_note .color_note {
        width: 30px;
    }
  }
  /* 425 */
  @media screen and (max-width: 426px) {
    .header .actions .actions_right {
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        padding: 5px 0;
    }
    .header.header-edit{
        flex-direction: column;
    }
    .header.header-edit .title_section, 
    .header.header-add .title_section {
        text-align: center;
    }
    th, td {
        font-size: 11px;
    }
    .section_add_data {
        width: 95%;
        margin: 10px 0px;
    }
    .submit_form_data .group_input .form_select.full_width_65{
        width: 100%;
    }
    .section_calender {
        width: 95%;
        margin: 10px 0px;
    }
    .btn {
        line-height: 1.2;
    }
    .section_note ul .item_note {
        display: flex;
        align-items: center;
    }
    .header .actions .calender {
        font-size: 14px;
    }
    .box_info {
        width: 120px;
    }
    .submit_form_data .group_input {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0;
        padding: 10px 0 0 0;
    }
    .submit_form_data .group_input .general_area {
        width: 100%;
        gap: 5px;
        font-size: 13px;
    }
    .submit_form_data .group_input .form_control {
        width: 100%;
        font-size: 13px;
    }
    .submit_form_data .group_input .title {
        font-size: 14px;
    }
    .submit_form_data .group_input button {
        height: 22px;
        margin-top: 5px;
    }
    .submit_form_data .error-notify-box {
        padding-top: 10px;
    }
    .submit_form_data .error-notify-box .error_data {
        font-size: 14px;
    }
    .submit_form_data .group_input.group_button{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .submit_form_data .group_input.group_button .general_area {
        width: 60%;
    }
    .submit_form_data .group_input.group_button .general_area.group_button_left {
        width: 70%;
    }
    .section-popup.active {
        width: 200px;
      }
    .section-popup.active .box-content .title_order {
        font-size: 14px;
    }
    .section-popup.active .box-content {
        padding: 10px;
      }
  }
  /* 360 */
  @media screen and (max-width: 361px) {
    .header .actions .actions_right {
        width: 90%;
    }
    .header.header-add .title_section {
        text-align: left;
        width: 50%;
    }
    .submit_form_data .group_input.group_button .general_area.group_button_left {
        width: 60%;
    }
  }
  /* 320 */
  @media screen and (max-width: 320px) {
    .header.header-add {
        flex-direction: column;
    }
    .header .actions .actions_right {
        width: 100%;
    }
    th, td {
        font-size: 10px;
    }
    .header.header-edit .title_section, 
    .header.header-add .title_section {
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }
    .section_note ul .item_note .name_note {
        font-size: 12px;
    }
    .section_add_data {
        padding: 10px;
    }
    .submit_form_data .group_input .general_area {
        font-size: 12px;
    }
    .submit_form_data .group_input.group_button.group__new{
        flex-direction: column;
    }
    .submit_form_data .group_input.group_button .general_area.group_button_left {
        width: 100%;
    }
  }